@import "./color_schemes/dark";

// Borders

$border: 20px solid !default;
$border-radius: 4px !default;
$border-color: $grey-lt-100 !default;

// Grid system
$gutter-spacing: $sp-6 !default;
$gutter-spacing-sm: $sp-4 !default;
$nav-width: 300px;
$nav-width-md: 300px;
$nav-list-item-height: $sp-6 !default;
$nav-list-item-height-sm: $sp-8 !default;
$nav-list-expander-right: true;
$content-width: 1000px;
$header-height: 90px;
$search-results-width: $content-width;
$transition-duration: 400ms;